header {
    background-color:#464e47;
    color: white;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5.5em;
    display:inline-grid;
    grid-template-columns: 1fr 3fr 5fr;
    grid-template-areas: 
    "p_icon search_bar nav";
}

body{
    font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "l1 l2 l3 l4 l5";
    justify-content: center;
    text-align: center;
}

/*
 * IMAGES SECTION
 */
.icons{
    height:5em;
}

#header_icon{
    grid-area: p_icon;
}

/*
 * NAVIGATION SECTION
 */
.nav-link{
    color:white;
    font-size: 1.5em;
    text-decoration: none;
}

#l1 {
    grid-area: l1;
}

#l2 {
    grid-area: l2;
}

#l3 {
    grid-area: l3;
}

#l4 {
    grid-area: l4;
}

#l5 {
    grid-area: l5;
}


