header {
    background-color:rgba(97,107,98,.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5.5em;
    display:inline-grid;
    grid-template-columns: 1fr 3fr 5fr;
    grid-template-areas: 
    "p_icon search_bar nav";
    z-index: 6;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin-top:5.5em;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "l1 l2 l3 l4 l5";
    justify-content: center;
    text-align: center;
}

footer{
    padding:2em;
    background-color:#464e47;
    color: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    column-gap: 2em;
    row-gap: 2em;
    padding-bottom: 10em;
    padding-top: 2em;
    grid-template-areas: 
    "col1 col2 col3";
}
footer p {
    margin-top: 2em;
    margin-bottom: 2em;
}
/*
 * MAIN
 */
/* 1ST SECTION*/
#look_feel{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 3em;
}

#welcome_h{
    font-size: 3em;
    grid-column: 2/span 4;
    text-align: center;
}

#welcome_p{
    font-size:20px;
    grid-row-start: 2;
    grid-column: 2/span 4;
    z-index: 2;
    text-align: center;
}

/*2ND SECTION*/
#goals{
    background-color: #ccfccb;
    text-align: center;
    padding:6em;
    margin:0%;
}

#welcome_info{
    grid-row-start: 3;
    grid-column: -4/span 5;
    text-align: center;
    margin-top: 15em;
    
}

/*3RD SECTION*/
#service_display{
    margin: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.keywords{
    font-size: 2em;
    grid-row-start: 2;
}

/*4RD SECTION*/
#final_words{
    display: grid;
    background-color: #568159;
    margin-top: 3em;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas: 
    "f_text f_image";
    align-items: center;
}

.f_text{
    font-size: 20px;;
    color: white;
    padding:2em;
    grid-area: f_text;

}

/*LAST SECTION*/
#closing{
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}
/*
 * IMAGES SECTION
 */
.icons{
    height:5em;
}

.img{
    height: 40em;
}

#header_icon{
    grid-area: p_icon;
}

#background_img{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column: 1 /span 3;
}

.services{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.f_img{
    height:25em;
    grid-area: f_image;
}
/*
 * NAVIGATION SECTION
 */
.nav-link{
    color:white;
    font-size: 1.5em;
    text-decoration: none;
}

#l1 {
    grid-area: l1;
}

#l2 {
    grid-area: l2;
}

#l3 {
    grid-area: l3;
}

#l4 {
    grid-area: l4;
}

#l5 {
    grid-area: l5;
}


/*FOOTER*/
#col1{
    grid-area: col1;
}

#col2{
    grid-area: col2;
}

#col3{
    grid-area: col3;
}

#closing_info{
    font-size: 10px;
    text-align: center;
    padding: 2em 20em;
}